<h1>Editing <%=h @user.name %></h1>
<div class="depot-form">

<fieldset>
<legend>Enter User Details</legend>
<%= form_tag login_path(@user), method: :patch do %>
  <% if session[:user_level] == 0 %>
    <%= render :partial => 'form' %>
  <% else %>
    <%= render :partial => 'unprivileged_form' %>
  <% end %>
  <%= submit_tag "Update", :class=>'submit' %>
<% end %>
</fieldset>
</div>
