<h1><%= @title -%></h1>
<% session[:return_to] = request.env['REQUEST_FULLPATH'] -%>
<a href="<%= exporturi -%>">Export as CSV</a>
<table class="list">
<TR>
<TH><a href="<%= uri+'order=label' -%>">Jack Label</a></TH>
<TH><a href="<%= uri+'order=node_id,ifIndex' -%>">Switch</a></TH>
<TH>Port</TH>
<TH>Vlan</TH>
<TH>Comment</TH>
<TH>Actions</TH>
</TR>

<% @jacks.each do |j| -%>
<TR class="<%= cycle('light','dark') -%>">
<TD><%= j.label -%></TD>
<TD><%= j.node.sysName -%></TD>
<TD><%= j.ifName -%></TD>
<TD><%= j.vlan -%></TD>
<TD><%= j.comment -%></TD>
  <% if session[:user_level] == 0 %>
  <TD><span class='line_menu'>
        <%= link_to 'Edit', :controller => 'ports', :action => 'edit', :id => j %>&nbsp;|&nbsp;
        <%= link_to 'Del', port(j), method: :delete, data: {:confirm => "Are you sure?"} %></span></TD></TR>
  <% end %>
<% end %>
