<h1><%= @title -%></h1>
<%
session[:return_to] = request.env['REQUEST_FULLPATH']
-%>
<table class="list">
<TR>
<TH>Switch</TH>
<TH>Port</TH>
<TH>Label</TH>
<TH>Vlan</TH>
<TH>Comment</TH>
<TH>Action</TH>
</TR>
<% for @port in @ports %>
  <TR class="<%= cycle('light','dark') -%>">
  <TD><%=h @port.node.sysName %></TD>
  <TD><img src='/images/<%="#{@adminStatus[@port.id]}.png"%>' title="Admin Status" width='18px' /><img src='/images/<%="#{@opStatus[@port.id]}.png"%>' title="Op Status" width='18px' /></span><span style="vertical-align:middle">&nbsp;<%=h @port.ifName %></TD>
  <% if session[:user_level] == 0%>
    <TD><%= best_in_place @port, 'label', as: :input %></TD>
    <TD><%= best_in_place @port, 'vlan', as: :input %></TD>
    <TD><%= best_in_place @port, 'comment', as: :input%></TD>
    <TD><span class="line_menu"><%= link_to image_tag("info.jpg", :size => "14x15", :alt => 'Status'), stats_port_path(@port) %></span>
    <span class="line_menu"><%= link_to image_tag("edit.png", :size => "14x14", :alt => 'Edit'), edit_port_path(@port) %></span>
    <span class="line_menu"><%= link_to image_tag('editdelete.png', :size => '14x14', :alt => 'Del'), port_path(@port), method: :delete, data: {:confirm => 'Are you sure?'} %></span></TD>
    <% else %>
    <TD><%=h @port.label %></TD>
    <TD><%=h @port.vlan %></TD>
    <TD><%=h @port.comment %></TD>
  <% end %>
  </TR>
<% end %>
