<h1>Editing Link</h1>

<%= form_tag :action => 'update', :id => @link do %>
  <fieldset>
    <div class="row">
      <!--[form:port]-->
      <div class="form-element">
        <label for="link_nodeA">Device A</label>
        <% @node_list = Node.all.order('sysName').collect {|a| [ a.sysName, a.id ]} -%>
        <%= select_tag(:nodeA, options_for_select(@node_list,@link.port_a.node.id)) %>
        <label for="link_port_a">Port</label>
        <%= text_field_tag 'port_a', @link.port_a.ifName %>
        <br>
        <label for="link_nodeB">Device B</label>
        <%= select_tag(:nodeB, options_for_select(@node_list,@link.port_b.node.id)) %>
        <label for="link_port_b">Port</label>
        <%= text_field_tag 'port_b', @link.port_b.ifName %>
      </div>
  <!--[eoform:port]-->

    </div>
  </fieldset>
  <%= submit_tag 'Update' %>
<% end %>
