<TR class=<%= cycle('light','dark') -%>>
  <TD><%= unpriv_list.label -%></TD>
  <TD><%= unpriv_list.node.sysName -%></TD>
  <TD><%= image_tag("#{@adminStatus[unpriv_list.id]}.png", width: '18px', title: "Admin Status") %>'>&nbsp;<%= image_tag("#{@opStatus[unpriv_list.id]}.png", width: '18px', title: "Oper Status")%>'></TD>
  <TD><%= unpriv_list.vlan -%></TD>
  <TD><%= unpriv_list.comment -%></TD>
</TR>
