<h1>Search by Switch and Port</h1>
<div id=notice_message>
<%= flash[:notice] -%>
</div>
<div id=error_message>
<%= flash[:error] -%>
</div>

<%= form_tag find_by_switch_searches_path, :method => :get do %>
  <fieldset>
    <div class="row">
      <div class='form-element'>
        <label for="by_switch_node_id">Switch</label><br />
        <%= select 'by_switch', 'node_id', @node.collect {|b| [b.sysName, b.id] } %>
      </div>
      <div class='form-element'>
      <label for="by_switch_ifName">Port</label><br />
        <%= text_field 'by_switch', 'ifName' , {:class => 'text-input'} %>
        <div class='small'>
        You can use <strong>^</strong> and <strong>$</strong> to anchor the search string to the <strong>start</strong> and <strong>end</strong> of the string and <strong>*</strong> to represent <strong>any number of characters</strong>. Please note that even though you can use RegEx-like expressions here it is not true RegEx, so don't try anything fancy.
        </div>
        </div>
      <%= submit_tag "Find" %>
    </div>
  </fieldset>
<% end %>