<h2><%= @title %></h2>
<p>
Target IP: <strong><%= @target[:ip_str] -%></strong><br />
Target MAC: <strong><%= @target[:mac_str] -%></strong>
</p>

<table class="list">
<TR>
  <TH>Jack Label</TH>
  <TH>Device</TH>
  <TH>Port</TH>
  <TH>Vlan</TH>
  <TH>Comment</TH>
  <% if session[:user_level] == 0 %>
  <TH>Action</TH>
  <% end %>
</TR>
<% if session[:user_level] == 0 %>
  <%= render :partial => 'list', :collection => @ports %>
<% else %>
  <%= render :partial => 'unpriv_list', :collection => @ports %>
<% end %>
</table>
